<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bregau.AuditPlaner.Logic.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <bregau.AuditPlaner.Logic.UI.Properties.Settings>
            <setting name="SqlServerAdress" serializeAs="String">
                <value>wiki2k8.bregau.local</value>
            </setting>
            <setting name="AdServerAdressr" serializeAs="String">
                <value>server2008.bregau.local</value>
            </setting>
        </bregau.AuditPlaner.Logic.UI.Properties.Settings>
    </userSettings>
</configuration>